/* general style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  background-color: #f6f8f9;
  font-family: sans-serif;
}

/* general style */

/* header-section */

header {
  background-color: rgb(255, 255, 255);
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo-text {
  padding: 10px;
  font-size: 2.8rem;
}
/* / header-section */

/* container section */

.container {
  width: 1024px;
  height: fit-content;
  background-color: white;

  margin: 40px auto;
  border-radius: 10px;
}

/* / container section */

/* buttons container */

.buttons-container {
  padding: 10px 40px;

  border-bottom: 2px solid #f6f8f9;
}

.btn-1 {
  padding: 7px 8px;
  background-color: #44abea;
  color: white;
  font-size: 0.8rem;
  border-radius: 5px;
}

.btn-2 {
  padding: 7px 8px;
  color: rgb(197, 197, 197);
  font-size: 0.8rem;
  border-radius: 5px;
  border: 1px solid rgb(197, 197, 197);
}

/*/ buttons container */

/* list-section */

.list-container {
  padding: 40px;
}

.list {
  margin: 25px 0px;
}

.list-title {
  margin-bottom: 10px;
}

.list-item {
  display: flex;

  align-items: center;
  gap: 10px;

  margin: 10px 0px;
}

.check-mark {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 1.5px solid #64c0a9;

  color: #64c0a9;
  font-size: 0.9rem;
}

.uncheck-mark {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: 1.5px solid rgb(214, 60, 60);

  color: red;
  font-size: 0.9rem;
}

.badge {
  display: inline-block;
  padding: 5px 13px;
  border-radius: 20px;
  background-color: gray;

  color: white;
  font-size: 0.8rem;
}

/* badge colors */
.badge-color-1 {
  background-color: #44abea;
}
.badge-color-2 {
  background-color: #9c72e4;
}
.badge-color-3 {
  background-color: #64c0a9;
}
.badge-color-4 {
  background-color: #f29e33;
}
.badge-color-5 {
  background-color: #d863a1;
}
.badge-color-6 {
  background-color: #b0c926;
}
/* / badge colors */

/* / list-section */
